/* --GENERAL-- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --HEADER-- */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 104, 1);
    padding: 10px 17%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

/* header-links */

.header-link ul li{
    display: inline-block;
}

.header-link ul li a{
    text-decoration: none;
    color: white;
    padding: 3px;
}

/* header- logo */

.header-logo{
    display: block;
    max-width: 100px; 
}

/* header-symbols */

.symbols i{
    color: white;
    padding: 0 3px;
}


/* --MAIN-- */

.container-cards{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 10px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    width: calc(100% / 3 - 10px);
    max-width: 300px;
    position: relative;
}

.card p{
    font-size: 10px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

img{
    max-width: 100%;
}

.card i{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.sale{
    background-color: red;
    padding: 5px;
    color: white;
}

.green{
    background-color: green;
    color: white;
    padding: 5px;
}

.red{
    color: red;
}

.line{
    text-decoration-line: line-through;
}

/* --hover-card-- */

.img-hover{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.card:hover .img-hover{
    display: block;
}

.card:hover .fa-heart{
    color: red;
}

/* --FOOTER-- */

.container-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 17%;
    background-color: rgb(26, 26, 26);
    color: white;

}

.footer-left nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px 10px 0;
}

.footer-left nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.footer-right i{
    padding: 5px 10px 10px 0;
}